<!DOCTYPE html>
<html>
  <head>
    <title>Choose Product</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Choose Product</p>
    <form action="/visualizer/viewer" method="get">
        <input type="text" name="image_sofa" id="image_sofa" placeholder="sofa image" autofocus required>
        <input type="text" name="image_table" id="image_table" placeholder="table image" required>
        <input type="submit" value="Submit">
    </form>
  </body>
</html>
