<!DOCTYPE html>
<html>
  <head>
    <title>Choose Product</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Choose Product</p>
    <p>Go to <a href="/visualizer/viewer">Visualization Viewer</a></p>
  </body>
</html>
