<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">

  <title>Hello, world!</title>

  <style>
  .container-logo {
  perspective: 300;
  -webkit-perspective: 300;
}

#imgLogo {
  width: 275px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 15px;
}
  </style>
</head>

<body>

<div id="screenshot">
    <div class="select">
        <label for="audioSource">Audio source: </label><select id="audioSource"></select>
    </div>
    
    <div class="select">
        <label for="videoSource">Video source: </label><select id="videoSource"></select>
    </div>

    <p><button class="capture-button">Capture video</button></p>
    <video autoplay></video>
<table class="table table-striped table-bordered">
    <tr>
        <td>Tilt Left/Right [gamma]</td>
        <td id="doTiltLR"></td>
    </tr>
    <tr>
        <td>Tilt Front/Back [beta]</td>
        <td id="doTiltFB"></td>
    </tr>
    <tr>
        <td>Direction [alpha]</td>
        <td id="doDirection"></td>
    </tr>
</table>

    
    <div class="container-logo" id="logoContainer">
        <img src="/visualizer/capture/iphone.png" id="imgLogo">
    </div>
    <p><button id="screenshot-button">Take screenshot</button></p>
    <img src="">
    <canvas id="backgroundLayer"></canvas>
</div>

<script src="/visualizer/capture/js/main.js"></script>

<script>
    const captureVideoButton = document.querySelector('#screenshot .capture-button');
    const screenshotButton = document.querySelector('#screenshot-button');
    const img = document.querySelector('#screenshot img');
    const video = document.querySelector('#screenshot video');

    const canvas = document.createElement('canvas');

    const constraints = {
        video: true
    };

    captureVideoButton.onclick = function () {
        navigator.mediaDevices.getUserMedia(constraints).
            then(handleSuccess).catch(handleError);
    };

    // screenshotButton.onclick = video.onclick = function () {
    //     canvas.width = video.videoWidth;
    //     canvas.height = video.videoHeight;
    //     canvas.getContext('2d').drawImage(video, 0, 0);
    //     // Other browsers will fall back to image/png
    //     img.src = canvas.toDataURL('image/webp');
    // };

    screenshotButton.onclick = video.onclick = function () {
        var backgroundCanvas = document.getElementById("backgroundLayer");
        var backGroundCtx = backgroundCanvas.getContext("2d");
        
        var vWidth = video.videoWidth;
        var vHeight = video.videoHeight;

        backgroundCanvas.width = vWidth;
        backgroundCanvas.height = vHeight;
        
        backGroundCtx.drawImage(video, 0, 0);
        var sofa = new Image();
        sofa.src = "/visualizer/Sofas/3.png"
        sofa.onload = () => {
            backGroundCtx.drawImage(sofa, vWidth/2-225, vHeight/2-75, 450, 300);
        }
    };


    function handleSuccess(stream) {
        screenshotButton.disabled = false;
        video.srcObject = stream;
    }

    function handleError(error) {
        console.error('Error: ', error);
    }

//

        if ('DeviceOrientationEvent' in window) {
            window.addEventListener('deviceorientation', deviceOrientationHandler, false);
        } else {
            document.getElementById('logoContainer').innerText = 'Device Orientation API not supported.';
        }

        function deviceOrientationHandler(eventData) {
            var tiltLR = eventData.gamma;
            var tiltFB = eventData.beta;
            var dir = eventData.alpha;

            document.getElementById("doTiltLR").innerHTML = Math.round(tiltLR);
            document.getElementById("doTiltFB").innerHTML = Math.round(tiltFB);
            document.getElementById("doDirection").innerHTML = Math.round(dir);

            var logo = document.getElementById("imgLogo");
            // logo.style.webkitTransform = "rotate(" + tiltLR + "deg) rotate3d(1,0,0, " + (tiltFB * -1) + "deg)";
            // logo.style.MozTransform = "rotate(" + tiltLR + "deg)";
            // logo.style.transform = "rotate(" + tiltLR + "deg) rotate3d(1,0,0, " + (tiltFB * -1) + "deg)";
            logo.style.webkitTransform = `rotate(${tiltLR}deg) rotate3d(1,0,0, ${(tiltFB-80) * -1}deg)`;
            logo.style.MozTransform = `rotate(${tiltLR} deg)`;
            logo.style.transform = `rotate(${tiltLR}deg) rotate3d(1,0,0, ${(tiltFB - 80) * -1}deg)`;;
        }


</script>

<!-- <div id="container">

    <div class="select">
        <label for="audioSource">Audio source: </label><select id="audioSource"></select>
    </div>

    <div class="select">
        <label for="videoSource">Video source: </label><select id="videoSource"></select>
    </div>

    <video muted autoplay></video>

    <script src="/visualizer/capture/js/main.js"></script>

</div> -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>
