<!DOCTYPE html>
<html>
  <head>
    <title>Produt Visualizer Viewer</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Produt Visualizer Viewer</p>
    <p>Go to <a href="/">Home</a></p>
  </body>
</html>
